<!-- # sidebar -->
<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <div class="logo"><a href="/">
                <!-- <img src="assets/images/logo.png" alt="" /> --><span>Soft Sensors Lab</span></a></div>
            <ul>
                <li><a href="/"><i class="ti-home"></i> Home Page </a></li>
                <li><a href="https://akademi.itu.edu.tr/en/ozlem16/" target="_blank" ><i class="ti-user"></i>Developer</a></li>
                <li class="label" id="sensor">Sensor IP</li>
                <li><a href="/account/logout"><i class="ti-close"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->